body {
    background-color: #121212; 
    color: #ffffff;
    margin-left: 1%;
}

.inputCurto {
    width: 25%;
    background-color: #252525;
}

.inputLongo {
    width: 25%;
    height: 30%;
    background-color: #252525;
}

.inputCurto2 {
    width: 19%;
    background-color: #252525;
}

.inputDark {
    background-color: #252525;
}

h1 {color:white}

